// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


button:disabled {
   background-color: #d0cfcf;
   opacity: 0.5;

   &:hover {
      opacity: 0.5;
      background-color: #d0cfcf;
   }
}

.sortable-th {
   &:hover {
      cursor: pointer;
   }
}